<span class="logo-container">
  <%= image_tag 'logo_white_transparent.png' %>
  <%= link_to 'Welcome', '#' %>
</span>

<header>
  ENTER A NUMBER
</header>

<%= render 'form' %>

<%= render 'results' %>

<%= render 'number_pad' %>
