<span class="logo-container">
  <a href="/">
    <%= image_tag 'logo_white_transparent.png' %>
  </a>
  <%= link_to 'Welcome', '#', class: 'button' %>
</span>

<header>
  ENTER A NUMBER
</header>

<%= render 'form' %>

<%= render 'results' %>

<%= render 'number_pad' %>
